---
title: selene
---
{% extends "app/pages/layout/_main.html" %}


{% block content %}

<!-- begin hero -->
<header class="hero">
	<!-- begin hero__topline container -->
	<div class="hero__topline container full">
		<a href="#" class="hero__logo">
			<span>S</span>elene.
		</a>
		<button class="hero__menu-mobile">
			<span></span>
		</button>
		<nav>
			<ul class="hero__menu">
				<li><a href="#" class="is-active">home</a></li>
				<li><a href="#">about us</a></li>
				<li><a href="#">projects</a></li>
				<li><a href="#">clients</a></li>
				<li><a href="#">contact</a></li>
				<li><a href="#">blog</a></li>
			</ul>
		</nav>
		<button class="hero__search">{{mixins.svg('search')}}</button>
	</div>
	<!-- end hero__topline container -->
	<!-- begin hero__slider-wrapper -->
	<div class="hero__slider-wrapper">
		<div class=" container hero__arrows">
			<a href="#" class="hero__arrow-prev">{{mixins.svg('arrow')}}</a>
			<a href="#" class="hero__arrow-next">{{mixins.svg('arrow')}}</a>
		</div>
		<!-- begin hero__slider -->
		<div class="hero__slider">
			<div class="hero__item">
				<div class="hero__image" style="background-image: url('images/hero1.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<!-- begin hero__info -->
					<div class="hero__info">
						<div class="hero__number">01</div>
						<div class="hero__name">John Doe</div>
						<div class="hero__title">
							Architecture <br> aims at eternity
						</div>
					</div>
					<!-- end hero__info -->
				</div>
				<!-- end container -->
			</div>
			<div class="hero__item">
				<div class="hero__image" style="background-image: url('images/hero1.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<!-- begin hero__info -->
					<div class="hero__info">
						<div class="hero__number">02</div>
						<div class="hero__name">John Doe</div>
						<div class="hero__title">
							Architecture <br> aims at eternity
						</div>
					</div>
					<!-- end hero__info -->
				</div>
				<!-- end container -->
			</div>
			<div class="hero__item">
				<div class="hero__image" style="background-image: url('images/hero1.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<!-- begin hero__info -->
					<div class="hero__info">
						<div class="hero__number">03</div>
						<div class="hero__name">John Doe</div>
						<div class="hero__title">
							Architecture <br> aims at eternity
						</div>
					</div>
					<!-- end hero__info -->
				</div>
				<!-- end container -->
			</div>
			<div class="hero__item">
				<div class="hero__image" style="background-image: url('images/hero1.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<!-- begin hero__info -->
					<div class="hero__info">
						<div class="hero__number">04</div>
						<div class="hero__name">John Doe</div>
						<div class="hero__title">
							Architecture <br> aims at eternity
						</div>
					</div>
					<!-- end hero__info -->
				</div>
				<!-- end container -->
			</div>
		</div>
		<!-- end hero__slider -->
	</div>
	<!-- end hero__slider-wrapper -->
	<!-- begin container -->
	<div class="container hero__slider-bottomline">
		<div class="hero__buttons"></div>
	</div>
	<!-- end container -->
</header>
<!-- end hero -->
<!-- begin ideas -->
<section class="ideas">
	<!-- begin container -->
	<div class="container flex between">
		<div class="section__left ideas__left">
			<div class="ideas__title">
				Lorem ipsum.
			</div>
			<div class="main__text ideas__text">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi aliquid est, repellat nam beatae commodi culpa rerum consectetur quae nemo soluta repellendus sint, ullam velit magni unde sapiente odit temporibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro sunt voluptate adipisci delectus? Adipisci nesciunt ipsam optio repudiandae cum commodi, iure numquam repellat odit vel provident quasi laborum fuga voluptatem quod quidem minus vero ea dolorum impedit voluptas voluptates consectetur placeat, illum at. Rem omnis, beatae dignissimos nam suscipit iure ullam id, sunt dolores veritatis ut! Voluptate minus quas, quibusdam, eos consectetur quod asperiores sit eius odio tenetur perferendis itaque doloribus voluptatibus non iste unde ad aliquid facilis nihil id rerum eveniet. Dolorum dolore quod, iste beatae ipsa facere nostrum quis laboriosam illum doloremque aspernatur tenetur cum dignissimos unde possimus.
				</p>
			</div>
		</div>
		<div class="section__right ideas__right">
			<div class="ideas__slogan">
				We create <br> cool ideas.
			</div>
			<div class="ideas__image">
				<img src="images/idea.png" alt="">
			</div>
		</div>
	</div>
	<!-- end container -->
<!-- 	<div class="ideas__image">
		<img src="images/idea.png" alt="">
	</div> -->
</section>
<!-- end ideas -->
<!-- begin categories -->
<section class="categories">
	<!-- begin categories__item -->
	<div class="categories__item" style="background-image: url('images/categories1.jpg');">
		<a href="#" title="Idea">
			<div class="categories__title">
				Idea
			</div>
		</a>
	</div>
	<!-- end categories__item -->
	<!-- begin categories__item -->
	<div class="categories__item" style="background-image: url('images/categories2.jpg');">
		<a href="#" title="Concept">
			<div class="categories__title">
				Concept
			</div>
		</a>
	</div>
	<!-- end categories__item -->
	<!-- begin categories__item -->
	<div class="categories__item" style="background-image: url('images/categories3.jpg');">
		<a href="#" title="Design">
			<div class="categories__title">
				Design
			</div>
		</a>
	</div>
	<!-- end categories__item -->
	<!-- begin categories__item -->
	<div class="categories__item" style="background-image: url('images/categories4.jpg');">
		<a href="#" title="Develop.">
			<div class="categories__title">
				Develop.
			</div>
		</a>
	</div>
	<!-- end categories__item -->
</section>
<!-- end categories -->
<!-- begin work -->
<section class="work">
	<!-- begin container -->
	<div class="container">
		<div class="section__title">
			<span>How we work</span>
		</div>
	</div>
	<!-- end container -->
	<!-- begin work__items -->
	<div class="work__items">
		<!-- begin work__item -->
		<div class="work__item">
			<a href="#">
				<span class="work__title">
					Dexterity
				</span>
			</a>
			<span class="work__number">
				1
			</span>
		</div>
		<!-- end work__item -->
		<!-- begin work__item -->
		<div class="work__item">
			<a href="#">
				<span class="work__title">
					Team
				</span>
			</a>
			<span class="work__number">
				2
			</span>
		</div>
		<!-- end work__item -->
		<!-- begin work__item -->
		<div class="work__item">
			<a href="#">
				<span class="work__title">
					Partnership
				</span>
			</a>
			<span class="work__number">
				3
			</span>
		</div>
		<!-- end work__item -->
	</div>
	<!-- end work__items -->
</section>
<!-- end work -->
<!-- begin projects -->
<section class="projects">
	<!-- begin container -->
	<div class="container">
		<div class="section__title">
			<span>Latest project</span>
		</div>
	</div>
	<!-- end container -->
	<div class="projects__slider-wrapper">
		<div class="projects__arrows">
			<a href="#" class="projects__next">{{mixins.svg('arrow')}}</a>
			<a href="#" class="projects__prev">{{mixins.svg('arrow')}}</a>
		</div>
		<div class="projects__slider">
			<!-- begin item -->
			<div class="item">
				<div class="projects__item">
					<div class="projects__left">
						<div class="projects__image" style="background-image: url('images/projects1-big.jpg');"></div>
					</div>
					<div class="projects__right">
						<div class="projects__info">
							<div class="projects__title">
								Modern art gallery <br>Warsaw, Poland
							</div>
							<div class="main__text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nobis distinctio cumque harum incidunt explicabo sequi voluptate a numquam enim voluptates, dignissimos, odio ex doloribus fuga. Perferendis maiores, hic doloremque.
								</p>
							</div>
							<a href="#" class="btn btn__inline btn__transparent case">Case study</a>
							<div class="projects__number">
								1
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- begin item -->
			<div class="item">
				<div class="projects__item">
					<div class="projects__left">
						<div class="projects__image" style="background-image: url('images/projects2-big.jpg');"></div>
					</div>
					<div class="projects__right">
						<div class="projects__info">
							<div class="projects__title">
								Modern art gallery <br>Warsaw, Poland
							</div>
							<div class="main__text">
								<p>
									Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Текста решила о он семантика своих безорфографичный образ его своего подпоясал напоивший. Журчит толку решила lorem которой предложения деревни грустный букв составитель, коварных меня алфавит, вопрос даль знаках сих прямо свое одна! Маленький предупреждал власти вершину океана своих, приставка послушавшись своих даль взгляд страну гор, пор правилами одна, дал большого безопасную алфавит! Lorem ведущими власти от всех своего эта запятой оксмокс, даль, это маленькая не предупредила встретил, языком прямо бросил взгляд наш. За заманивший языкового решила lorem предложения алфавит возвращайся мир он, путь но, на берегу меня языком коварный великий по всей. Рыбного.
								</p>
							</div>
							<a href="#" class="btn btn__inline btn__transparent case">Case study</a>
							<div class="projects__number">
								2
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- begin item -->
			<div class="item">
				<div class="projects__item">
					<div class="projects__left">
						<div class="projects__image" style="background-image: url('images/projects3-big.jpg');"></div>
					</div>
					<div class="projects__right">
						<div class="projects__info">
							<div class="projects__title">
								Modern art gallery <br>Warsaw, Poland
							</div>
							<div class="main__text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nobis distinctio cumque harum incidunt explicabo sequi voluptate a numquam enim voluptates, dignissimos, odio ex doloribus fuga. Perferendis maiores, hic doloremque.
								</p>
							</div>
							<a href="#" class="btn btn__inline btn__transparent case">Case study</a>
							<div class="projects__number">
								3
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
			<!-- begin item -->
			<div class="item">
				<div class="projects__item">
					<div class="projects__left">
						<div class="projects__image" style="background-image: url('images/projects4-big.jpg');"></div>
					</div>
					<div class="projects__right">
						<div class="projects__info">
							<div class="projects__title">
								Modern art gallery <br>Warsaw, Poland
							</div>
							<div class="main__text">
								<p>
									Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Послушавшись букв правилами ты, рот семь коварных. Всеми ручеек точках прямо родного деревни себя, осталось свое ему, жаренные над текста!
								</p>
							</div>
							<a href="#" class="btn btn__inline btn__transparent case">Case study</a>
							<div class="projects__number">
								4
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end item -->
		</div>
	</div>
	<!-- begin container -->
	<div class="container">
		<div class="projects__nav">
			<div class="projects__nav-item" style="background-image: url('images/projects1.jpg');"></div>
			<div class="projects__nav-item" style="background-image: url('images/projects2.jpg');"></div>
			<div class="projects__nav-item" style="background-image: url('images/projects3.jpg');"></div>
			<div class="projects__nav-item" style="background-image: url('images/projects4.jpg');"></div>
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end projects -->
<!-- begin sponsors -->
<section class="sponsors">
	<!-- begin container -->
	<div class="container">
		<div class="sponsors__item">
			<img src="images/sponsor1.png" alt="">
		</div>
		<div class="sponsors__item">
			<img src="images/sponsor2.png" alt="">
		</div>
		<div class="sponsors__item">
			<img src="images/sponsor3.png" alt="">
		</div>
		<div class="sponsors__item">
			<img src="images/sponsor4.png" alt="">
		</div>
		<div class="sponsors__item">
			<img src="images/sponsor5.png" alt="">
		</div>
		<div class="sponsors__item">
			<img src="images/sponsor6.png" alt="">
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end sponsors -->
<!-- begin contacts -->
<section class="contacts">
	<!-- begin container -->
	<div class="container">
		<div class="contacts__item">
			<div class="contacts__left">
				<div class="contacts__tabs">
					<a href="#" class="is-active">Contact us</a>
					<a href="#">Phone</a>
					<a href="#">E-mail</a>
				</div>
				<div class="contacts__form">
					<form action="#">
						<input type="text" placeholder="Name">
						<input type="phone" placeholder="Phone">
						<input type="email" placeholder="E-mail">
						<textarea name="message" id="" placeholder="Message"></textarea>
						<button class="btn btn__inline btn__transparent" type="submit">Send</button>
					</form>
				</div>
			</div>
			<div class="contacts__right" style="background-image: url('images/contacts.jpg');"></div>
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end contacts -->
<!-- begin footer -->
<footer class="footer">
	<!-- begin container -->
	<div class="container">
		<div class="footer__logo">
			<img src="images/footer-logo.png" alt="">
		</div>
		<div class="footer__copyright">
			Copyright 2016. All rights reserved by symu.co
		</div>
	</div>
	<!-- end container -->
</footer>
<!-- end footer -->
{% endblock %}